<body>

	<div class="account-pages d-flex align-items-center justify-content-center"
		style="min-height: calc(100vh - 70px - 50px);">
		<div class="container" id="container">
			<div class="form-container sign-up-container">
				<form action="#">
					<h1>Create Account</h1>
					<div class="social-container">
						<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
						<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
						<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
					</div>
					<span>or use your email for registration</span>
					<input type="text" placeholder="Name" />
					<input type="email" placeholder="Email" />
					<input type="password" placeholder="Password" />
					<button>Sign Up</button>
				</form>
			</div>
			<div class="form-container sign-in-container">
				<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
					<h1>Bienvenido</h1>
					<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div> -->
					<span>Ingresa tu correo electrónico</span>
					<input type="email" formControlName="email" class="form-control" id="email" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
					<input type="password" formControlName="password" class="form-control" id="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" />
					<!-- <a href="#">Forgot your password?</a> -->
					<button class="mt-1" type="submit">Ingresa</button>
				</form>
			</div>
			<div class="overlay-container">
				<div class="overlay">
					<div class="overlay-panel overlay-left">
						<h1>Welcome Back!</h1>
						<p>To keep connected with us please login with your personal info</p>
						<button class="ghost" id="signIn">Sign In</button>
					</div>
					<div class="overlay-panel overlay-right">
						<img src="../../../../assets/images/logo-sm.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<footer>
			<p>
				Copyright 2024 © Cargos Recurrentes Todos los derechos reservados.
			</p>
		</footer>
	</div>
</body>